* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

header {
    background-color: rgb(243, 223, 42);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 100px;
    margin: 0px;
    float: left;
}

ul {
    display: flex;
    margin-right: 50px;
}

li {
    margin: 0px 10px;
}

#titulo {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#hero{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    margin: 0% 10%;
}

#producto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

#celu {
    float: right;
    width: 300px;
}

#buscar {
    width: 225px;
    text-align: center;
}

a{
    font-weight: bold;
}

a:hover {
    color: white;
    cursor: pointer;
}

footer {
    background-color: black;
    height: 120px;
    position: sticky;
    top: 100%;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

p {
    margin-top: 50px;
    display: inline;
}

#buttons{
    margin-top: 30px;
    margin-left: 15%;
}
button{
    display: inline-block;
    width: 200px;
    padding: 10px;
    font-size: larger;
    background-color: rgb(243, 223, 42);
    border: 5px solid white;
    border-radius: 20px
}

button:hover{
    opacity: 50%;
    cursor: pointer;
}

#disclamer {
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}